@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

footer{
	background-color: #FFD700;
	clear: both;
	color:#333;
	line-height: 0.5em;
	padding: 1em 0;
	/*margin-top: 1.5em;*/
	border-top: solid 1px black;
	font-family: 'Source Sans Pro', sans-serif;
}

footer p{
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
}

footer address{
	text-align: right;
}